<h2><%= AuctionLot.model_name.human %></h2>
<dl>
  <dt><%= AuctionLot.human_attribute_name(:auction_code) %>:</dt>
  <dd><%= @auction_lot.auction_code %></dd>
  <dt><%= AuctionLot.human_attribute_name(:starting_time) %>:</dt>
  <dd><%= @auction_lot.starting_time %></dd>
  <dt><%= AuctionLot.human_attribute_name(:ending_time) %>:</dt>
  <dd><%= @auction_lot.ending_time %></dd>
  <dt><%= AuctionLot.human_attribute_name(:starting_bid) %>:</dt>
  <dd><%= @auction_lot.starting_bid %></dd>
  <dt><%= AuctionLot.human_attribute_name(:bid_difference)%>:</dt>
  <dd><%= @auction_lot.bid_difference %>%</dd>
  <dt><%= AuctionLot.human_attribute_name(:status)%>:</dt>
  <dd><%= @auction_lot.status %><dd>
  <dt><%= AuctionLot.human_attribute_name(:user_id)%>:</dt>
  <% if @auction_lot.items.present? %>
    <% @auction_lot.items.each do |item|%>
      <dd><%= link_to item.name, item_path(id: item.id) %></dd>
    <%end%>
  <%end%>
</dl>
<%= link_to "Home Page", root_path %>