<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:appname) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1><%= t(:appname) %> </h1>
      <%end%>
      <strong><%= t(:apptitle)%></strong>
      <nav id="main_nav">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to t('admin_menu.title'), admin_menu_path %>
            <%= "#{t('hello_admin')} #{current_user.description}"%> |
            <%= button_to t("log_out"), destroy_user_session_path, method: :delete %> 
          <%else%>
            <%= link_to t('user_menu.won_auctions'), won_auctions_path %>
            <%= "#{t('hello')} #{current_user.description}"%> |
            <%= button_to t("log_out"), destroy_user_session_path, method: :delete %>
          <%end%> 
        <%else%>
          <%= link_to t("signup_as.user"), new_user_registration_path %> |
          <%= link_to t("sign_in"), new_user_session_path %>
        <%end%>
        <%= form_with(url: search_path, method: :get) do |f| %>
          <%= f.label :query, t('action.search')%>
          <%= f.text_field :query %>
          <%= f.submit t('do_search') %>
        <%end%>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
